.container {
	width: 100%; height: 100%;
	margin: 0px auto;
	position: relative;
}

video { width: 100%; }

.background_box {
	position: absolute;
	top:0; left:0;
	width: 100%; height: 100%;
	background-color: #000000; opacity: 0.5;
}

.menu {
	width: 100%; height: 15%;
	margin: 0px auto;
	position: absolute;
	top:0; left:0;
}

.menu h3 { 
	font-size: 20px; 
	color: #FFFFFF; 
	font-family: 'Noto Sans KR', sans-serif; 
	font-weight: 500;
	float: right;
	margin-right: 2%;
	margin-top: 3%;
}

.menu #mypage {
	margin-right: 5%;
}
.menu img {
	margin-left: 4.5%;
	margin-top: 3%;
	float: left;
	width: 5%;
	height: auto;
}
.container2 {
	width: 100%; height: 100%;
	margin: 0px auto;
	margin-top: 20%;
	text-align: center;
	position: absolute;
	top:0; left:0;
}

.container2 input { 
	font-size: 20px; 
	color: #FFFFFF; 
	font-family: 'Noto Sans KR', sans-serif; 
	font-weight: 500; 
	margin-top: 1%; 
	padding-left: 2%;
	width: 20%; 
	height: 6%; 
	border-radius:  30px; 
	color: black; 
	border: none; 

}

input:focus { outline: none; }
a {text-decoration:none;}
.container2 button { 
	font-size: 20px; 
	color: #FFFFFF; 
	font-family: 'Noto Sans KR', sans-serif; 
	font-weight: 500; 
	margin-top: 1.5%;
	width: 21.8%; 
	height: 6%; 
	background-color: #FF002E; 
	border-radius:30px;  
	border: none; 
}
.container2 span { 
	font-size: 20px; 
	color: #FFFFFF; 
	font-family: 'Noto Sans KR', sans-serif; 
	font-weight: 500; 
	margin-left: 2%; 
	border:0; outline: 0; 
}
.container2 span:nth-child(1){
	margin-left: 0;
}